# Serie Astuce De Code Python Pour la Mise en Production : Troisième 

![Alt text](logo-06.png)

![Alt text](<Capture d’écran 2024-06-02 à 12.24.14.png>)

# Les Tuples  en python

## Définitions

 Tuple : une collection ordonnée d'éléments enfermés dans ()

 * Les tuples sont immuables : 
   - une fois que vous avez créé les tuples, 
   - vous ne pouvez pas modifier la valeur à l'intérieur du tuple

### Exemples

In [1]:
tup1 = (100, "b" , "True" , "c" , False)

In [2]:
type(tup1)

tuple

## Extraire les éléments individuels

In [5]:
tup1[0]

100

In [6]:
tup1[1]

'b'

In [8]:
tup1[-1]

False

In [9]:
tup1[1:3]

('b', 'True')

In [11]:
tup1[2]="hello"

TypeError: 'tuple' object does not support item assignment

### Rechercher la longueur d'un tuple

In [12]:
tup1=(100,"b",True,"c" , False)

len(tup1)

5

### Concaténation de tuples

In [13]:
tup1=(1,2,3)
tup2=(4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

### Répéter les éléments d'un tuple

In [17]:
tup1 = ("Espoir" , 300)
tup1*3

('Espoir', 300, 'Espoir', 300, 'Espoir', 300)

### Répétition et concaténation

In [16]:
tup1 = ("Espoir" , 300)
tup2 = (4,5,6)

tup1 * 3 + tup2

('Espoir', 300, 'Espoir', 300, 'Espoir', 300, 4, 5, 6)

### Les Fonctions pour manipuler les tuples

In [18]:
# Trouver la valeur minimum d'un tuple 

tup1=(1,2,3,4,5)
min(tup1)

1

In [19]:
# Trouver la valeur maximum d'un tuple 

tup1=(1,2,3,4,5)
max(tup1)

5